<h1>新しいユーザーが登録されました。</h1>

<p>
  ============================
</p>

<p>
  <%= @user.nickname %>さんがHalcala!に登録したぞ〜
  <br>
  <br>
  本当に立教生かどうか確認してみてくれ〜
  <br>
  <a href="https://twitter.com/<%= @user.nickname %>">TwitterをCheck！</a>
</p>
