<% @users.each do |user| %>
  <div class="User">
    <div class="User__twitter">
      <% if user.sex == "male" %>
        <h2><%= link_to user.name, user_path(user), class: "User__twitter--male" %></h2>
      <% elsif user.sex == "female" %>
        <h2><%= link_to user.name, user_path(user), class: "User__twitter--female" %></h2>
      <% else %>
        <h2><%= link_to user.name, user_path(user) %></h2>
      <% end %>
    </div>
    <div class="User__name">
      <p>
        <%= @departments.find(user.department_id).department_name %>
      </p>
    </div>
  </div>
<% end %>
