<div class="Rikkyo__logo">
  <div class="Wrapper">
    <%= render 'form'%>
    <div class="Next">
      <%= link_to "BACK", users_path, class: "Next__button Next__button--back" %>
    </div>
    <div class="Next">
      <%= link_to "LOGOUT", logout_path, class: "Next__button Next__button--logout" %>
    </div>
  </div>
</div>
<div>
  <% if  current_user.completed %>
    <%= link_to "削除", user_path, method: :delete %>
  <% else %>
  <% end %>
</div>
