<div class="Rikkyo__logo">
  <div class="Wrapper">
    <%= render 'form'%>
  </div>
</div>
<div>
  <% if  current_user.completed %>
    <%= link_to "削除", user_path, method: :delete %>
  <% else %>
  <% end %>
</div>
