<ul class="list-unstyled">
  <% @users.each do |user| %>
    <li><%= user.name %>：<a href="https://twitter.com/<%= user.twitter_id %>">@<%= user.twitter_id %></a></li>
  <% end %>
</ul>

<div class="">
  <%= link_to "登録する！", new_user_path, class: "btn btn-primary" %>
</div>
