<div class="Rikkyo__logo">
	<div class="Wrapper">
		<div class="Header__twitter">
			<a href="https://twitter.com/intent/tweet?text=立教大学新入生のための特別なサービス『Halcala』でみんなも最高のスタートを！%20%20halcala.com" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>Halcalaを友達に知らせよう！</a>
		</div>
    <%= render 'search_form' %>
    <%= render 'users' %>

		<div class="User__new-button">
      <% if logged_in? %>
        <%= link_to 'PROFILE', edit_user_path(current_user), class: "Button Button__new" %>
      <% else %>
        <%= link_to "ENTRY", 'auth/twitter', class: "Button Button__new" %>
      <% end %>
    </div>
  </div>
</div>
