<div class="Top__twitter">
  <a href="https://twitter.com/intent/tweet?text=立教大学新入生のための特別なサービス『Halcala』でみんなも最高のスタートを！%20%20halcala.com" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>Halcalaを拡散！</a>
</div>
<div class="Top">
  <h1 class="Top__title">Halcala！</h1>

  <h2 class="Top__subtitle">
    もう #春から立教 は終わりだ！
  </h2>

  <div class="Top__entry">
    <p class="Top__notice">
      <a href="/policies">利用規約</a>に同意して、
    </p>
    <%= link_to "ENTRY", 'auth/twitter', class: "Button Button__new" %>
    <p class="Top__notice">
      Twitterでログインしますが、許可なくツイートすることはありません。
    </p>
  </div>
</div>

<div class="Top__section Top__section--why">
  <div class="Section">
    <h2 class="Section__title scrollAnime">
      春からを、全力で。
    </h2>
    <p class="Section__description scrollAnime">
      Halcala ! は立教大学の新入生だけが使える新感覚のSNSです！
      <br>みなさんが、入学前に抱える悩みを解決します！
    </p>
    <div class="row scrollAnime">
      <div class="col-md-6 col-sm-12 text-center">
        <%= image_tag "top/user_index_cap.png", class: "Section__img" %>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="Section__right">
          <h3>
            入学前に友達を作れる！
            <br>そして、最高のスタートダッシュを！
          </h3>
          <p>
            大学は高校とは違い、『クラス』がありません。
            <br>つまり、「自然と友達ができる」という環境ではないのです！
            <br>最高の春を迎えるには万全の準備を！
            <br>Halcala ! はそんな新入生を応援します！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Top__section Top__section--what">
  <div class="Section">
    <h2 class="Section__title Section__title--white-back scrollAnime">
      ３つの機能！すぐに友達！
    </h2>
    <p class="Section__description scrollAnime">
      Halcala ! は『楽しく簡単に友達を！』をテーマに作られています。
      <br>あなたが新しい友達を探す手間を極限まで減らします。
    </p>
    <div class="row">
      <div class="col-sm-4 col-xs-12 text-center scrollAnime">
        <p class="What__title">
          PROFILE
        </p>
        <span class="What__logo">
          <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </span>
        <p class="What__description text-left">
          学部や学科だけでなく、興味のあるサークルなどを選択します。
          <br>プロフィールを見れば、どんな人かわかります！
        </p>
      </div>
      <div class="col-sm-4 col-xs-12 text-center scrollAnime">
        <p class="What__title">
          SEARCH
        </p>
        <span class="What__logo">
          <i class="fa fa-search fa-5x" aria-hidden="true"></i>
        </span>
        <p class="What__description text-left">
          同じ学科の人と友達になって、入学式を迎えよう！
          <br>検索項目は随時拡大していきます！
        </p>
      </div>
      <div class="col-sm-4 col-xs-12 text-center scrollAnime">
        <p class="What__title">
          THREAD
        </p>
        <span class="What__logo">
          <i class="fa fa-5x fa-comments-o" aria-hidden="true"></i>
        </span>
        <p class="What__description text-left">
          学科の掲示板やサークルごとの掲示板など、入学前につながるべき友達とお話できます！
          <br>掲示板はユーザーであれば誰でも作ることができます！
        </p>
      </div>
    </div>
  </div>
</div>

<div class="Top__section Top__section--about">
  <div class="Section">
    <h2 class="Section__title scrollAnime">
      作ったのは、立教生
    </h2>
    <p class="Section__description scrollAnime">
      Halcala ! を作ったのは立教生です。安心してご利用ください。
      <br>私たちは、みなさんの入学を心より歓迎します。
    </p>
    <div class="row text-center">
      <div class="col-sm-6 col-xs-12 scrollAnime">
        <a href="https://twitter.com/kent_ear" target="_blank">
          <%= image_tag "top/sugita.jpg", class: "About__img" %>
        </a>
      </div>
      <div class="col-sm-6 col-xs-12 scrollAnime">
        <a href="https://twitter.com/HayatoHayatooo" target="_blank">
          <%= image_tag "top/oyanagi.jpg", class: "About__img" %>
        </a>
      </div>
    </div>
  </div>
</div>
