<div class="Top__wrapper">
  <div class="Top__twitter">
    <a href="https://twitter.com/intent/tweet?text=立教大学新入生のための特別なサービス『Halcala』でみんなも最高のスタートを！%20%20halcala.com" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>Halcalaを拡散！</a>
  </div>
  <div class="Top">
    <h1 class="Top__title">Halcala！</h1>

    <h2 class="Top__subtitle">
      もう #春から立教 は終わりだ！
    </h2>

    <div class="Top__entry">
      <p class="Top__notice">
        <a href="/privacy">利用規約</a>に同意して、
      </p>
      <%= link_to "ENTRY", 'auth/twitter', class: "Button Button__new" %>
      <p class="Top__notice">
        Twitterでログインしますが、許可なくツイートすることはありません。
      </p>
    </div>

  </div>

</div>
