<div class="Top__twitter">
  <a href="https://twitter.com/intent/tweet?text=立教大学新入生のための特別なサービス『Halcala』でみんなも最高のスタートを！%20%20halcala.com" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>Halcalaを拡散！</a>
</div>
<div class="Top">
  <h1 class="Top__title">Halcala！</h1>

  <h2 class="Top__subtitle">
    もう #春から立教 は終わりだ！
  </h2>

  <div class="Top__entry">
    <p class="Top__notice">
      <a href="/policies">利用規約</a>に同意して、
    </p>
    <%= link_to "ENTRY", 'auth/twitter', class: "Button Button__new" %>
    <p class="Top__notice">
      Twitterでログインしますが、許可なくツイートすることはありません。
    </p>
  </div>
</div>

<div class="Top__section Top__section--why">
  <div class="Section">
    <h2 class="Section__title">
      春からを、全力で。
    </h2>
    <p class="Section__description">
      Halcala ! は立教大学の新入生だけが使える新感覚のSNSです！
      <br>みなさんが、入学前に抱える悩みを解決します！
    </p>
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <%= image_tag "top/user_index_cap.png", class: "Section__img" %>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="Section__right">
          <h3>
            入学前に友達を作れる！
            <br>そして、最高のスタートダッシュを！
          </h3>
          <p>
            大学は高校とは違い、『クラス』がありません。
            <br>つまり、「自然と友達ができる」という環境ではないのです！
            <br>最高の春を迎えるには万全の準備を！
            <br>Halcala ! はそんな新入生を応援します！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
