// Place all the styles related to the Topic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common/fonts";
@import "common/color";
@import "common/media_queries";

.Topic {
  width: $breakpoint-tablet;
  text-align: center;
  margin: 60px auto;
  overflow: hidden;
  @include max-screen($breakpoint-tablet) {
    width: $breakpoint-mobile;
    text-align: center;
    overflow: hidden;
    padding: 0px 20px;
  }
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    padding: 0px 30px;
  }
  &__board{
    width: 250px;
    float: left;
    height: 300px;
    margin-left: 15px;
    text-align: center;
    @include max-screen($breakpoint-tablet) {
      width: 40%;
      margin-left: 35px;
    }
    @include max-screen($breakpoint-mobile) {
      width: 90%;
      height: 300px;
      margin-left: 15px;
    }
    &__img{
      width: 100%;
      height: 170px;
      background-color: $gray;
    }
    &__li{
      list-style: none;
    }
  }
}
