// Place all the styles related to the Topic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common/fonts";
@import "common/color";
@import "common/media_queries";

.Topic {
  width: 100%;
  margin: 60px auto;
  overflow: hidden;
  &__header {
    width: 70%;
    margin: 50px auto;
    @include max-screen($breakpoint-mobile) {
      width: 95%;
      margin: 70px auto 30px;
    }
    h3 {
      letter-spacing: 0.1em;
    }
  }
}
