// Place all the styles related to the Topic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common/fonts";
@import "common/color";
@import "common/media_queries";
@import "module/button";
@import "module/form";

* {
  margin: 0px;
  padding: 0px;
  color: $white;
  font-family: $apple;
}
html {
  overflow: auto;
  height: 100%;
}
body {
  background-color: $black;
}

.Rikkyo__logo {
  background-image: image-url('bg_rikkyo_logo.png');
  background-size: 400px 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Wrapper {
  width: 100%;
  margin: 0px auto;
  background-color: $opacity-black;
  position: relative;
  top: 0px;
}

.Topic {
  width: $breakpoint-tablet;
  text-align: center;
  margin: 60px auto;
  overflow: hidden;
  @include max-screen($breakpoint-tablet) {
    width: $breakpoint-mobile;
    text-align: center;
    overflow: hidden;
  }
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    text-align: center;
    margin: 60px auto;
    overflow: hidden;
  }
  &__board{
    width: 250px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
    text-align: center;
    // border: solid 0.5px rgba(255, 255, 255, .5);
    border-radius: 10px;
    @include max-screen($breakpoint-tablet) {
      width: 40%;
      height: 300px;
      margin-left: 30px;
    }
    @include max-screen($breakpoint-mobile) {
      width: 80%;
      height: 300px;
      margin-left: 10%;
    }
    &__img{
      width: 100%;
      height: 150px;
      text-align: center;
      padding-top: 20%;
      font-size: 25px;
      font-family: 'Orbitron', cursive;
    }
    &__ul{
      list-style: none;
    }
    &__li{
      &--first{
        list-style: none;
        margin-top: 30px;
      }
      &--title{
         background-color: rgba($white, 0.2);
         color: $blue;
         height: 50px;
         padding-top: 20px;
         border-bottom: $black;
         border-radius: 10px 10px 0px 0px;
      }
      &--count{
        background-color: rgba($white, 0.2);
        border-bottom: $black;
         color: $orange;
      }
      &--description{
        background-color: rgba($white, 0.2);
        color: $white;
        height: 300px - 70px;
        border-radius: 0px 0px 10px 10px ;
        padding: 10px 15px;
      }
    }
  }
   &__header {
     width: 70%;
     margin: 50px auto;
     @include max-screen($breakpoint-mobile) {
       width: 95%;
       margin: 70px auto 30px;
     }
     h3 {
       letter-spacing: 0.1em;
     }
   }
}
