// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common/fonts";
@import "common/color";
@import "common/media_queries";
@import "module/button";
@import "module/form";

* {
  margin: 0px;
  padding: 0px;
  color: $white;
  font-family: $apple;
}
html {
  overflow: auto;
  height: 100%;
}
body {
  background-color: $black;
}

.Rikkyo__logo {
  background-image: image-url('bg_rikkyo_logo.png');
  background-size: 400px 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Wrapper {
  width: 100%;
  margin: 0px auto;
  background-color: $opacity-black;
  position: relative;
  top: 0px;
}

.User {
  width: 100%;
  margin: 60px auto;
  overflow: hidden;
  &__twitter {
    text-align: center;
    span {
      color: $orange;
      font-family: 'Orbitron', cursive;
      margin-right: 10px;
    }
    a {
      font-size: 25px;
      text-decoration: none;
      color: $blue;
      font-family: 'Orbitron', cursive;
      transition: 0.4s;
      &:hover {
        border-bottom: 1px solid $white;
        color: $white;
      }
      @include max-screen($breakpoint-mobile) {
        width: 100%;
        font-size: 20px;
      }
    }
  }
  &__name {
    width: 95%;
    margin: 10px auto 30px;
    text-align: center;
    p {
      font-size: 18px;
      color: $blue;
      font-family: 'Orbitron', cursive;
      @include max-screen($breakpoint-mobile) {
        font-size: 14px;
      }
    }
  }
  &__new-button {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
  }
}

.Next {
  width: 8em;
  margin: 30px auto;
  text-align: center;
  &__button {
    text-align: center;
    color: $white;
    font-size: 30px;
    font-family: 'Orbitron', cursive;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $blue;
    }
    &--back {
      font-size: 15px;
      @include max-screen($breakpoint-mobile) {
        // position: fixed;
        // bottom: 50px;
        text-align: center;
        right: 0px;
        left: 0px;
      }
    }
    &--logout {
      font-size: 10px;
      @include max-screen($breakpoint-mobile) {
        // position: fixed;
        // bottom: 50px;
        text-align: center;
        right: 0px;
        left: 0px;
      }
    }
  }
}

.Profile {
  width: 95%;
  margin: 100px auto;
  padding-bottom: 100px;
  text-align: center;
  @include max-screen($breakpoint-mobile) {
    margin: 50px auto;
  }
  &__item {
    margin: 15px auto;
    line-height: 40px;
    vertical-align: top;
    font-size: 20px;
    &--male {
      color: $blue;
      font-size: 20px;
      i {
        color: $blue;
      }
    }
    &--female {
      color: $blue;
      font-size: 20px;
      i {
        color: $blue;
      }
    }
    &--twitter {
      color: $white;
      text-decoration: none;
    }
  }
  &__block {
    margin: 50px auto;
    font-size: 15px;
  }
  &__title {
    font-size: 20px;
  }
}


.clickCancel {
  pointer-events : none;
}
