<div class="Topic">
  <% @topics.each do |topic| %>
    <%= link_to topic_path(topic) do %>
      <div class="Topic__board">
        <ul class="Topic__board__ul">
          <li class="Topic__board__li--title"><%= topic.title %></li>
          <li class="Topic__board__li--count"><%= topic.posts.count %> POST</li>
          <li class="Topic__board__li--description"><%= topic.description %></li>
        </ul>
      </div>
    <% end%>
  <% end %>
</div>
