<title>Halcala！【春から立教】</title>
<%= favicon_link_tag('favicon.ico') %>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<%= display_meta_tags default_meta_tags %>
