<p align="left">
    Halal利用規約
</p>

<hr>

<p align="left">
    チームR（以下「当団体」といいます。）は、当団体が提供するサービスである「Halcala」（以下「Halcala」といいます。）の利用について、以下のとおり利用規約を定めます（以下「本規約」といいます。）。Halcalaの利用者（以下「新入生諸君」といいます。）は、予め本規約に同意した上で、Halcalaを利用するものとします。
</p>
<p>
    なお、本規約の内容は、必要に応じて変更することがございますので、Halcalaをご利用の際には、最新の利用規約をご参照ください。
</p>

<hr>

<p align="left">
    <strong>1. </strong>
    <strong>Halcala</strong>
    <strong>の目的</strong>
</p>
<p>
    Halcalaは新入生諸君のTwitterアカウントを仲介するサービスです。
</p>
<p>
    スタートダッシュを助けるようなサービスです。
</p>
<p>
    会員同士の間でのみTwitterのアカウントが開示されます、ご了承ください。
</p>
<p align="left">
    <strong>2. </strong>
    <strong>会員登録手続き</strong>
</p>
<p>
    新入生諸君は、当団体所定の手続に従い、Halcala会員（以下「Halcala会員」といいます。）の登録手続を行うことができるものとします。当団体は、Halcala会員ではない新入生諸君または当団体所定の会員登録手続を完了していない新入生諸君とで、Halcalaにおいて提供するサービスを異ならせることがあります。提供されるサービスの内容等は当団体が任意に決定し、又は随時変更ができるものとします。
</p>
<p align="left">
    <strong>3. </strong>
    <strong>ログインアカウント等の登録・管理</strong>
    <strong></strong>
</p>
<p>
    新入生諸君は、ログインアカウント及びパスワード（以下「ログインアカウント等」といいます。）の登録・管理等をご自身の責任において行うものとし、新入生諸君の管理不十分、使用上の過誤、第三者の使用等により生じた損害について、当団体は一切の責任を負わないものとします。また、新入生諸君は、ログインアカウント等にかかるサービス（当団体以外の運営するサービスを含み、以降同様とする。）の利用をご自身の責任において利用するものとし、当該サービスの利用については当該サービスの運営者が規定する各規約の定めに従うものとします。ログインアカウント等にかかるサービスを利用したことにより生じた損害、当該サービス運営者と新入生諸君の間に生じたトラブル等について当団体は一切の責任を負わないものとします。
</p>
<p align="left">
    <strong>４．</strong>
    <strong>禁止行為</strong>
    <strong></strong>
</p>
<p align="left">
    （1）新入生諸君がHalcalaを利用するに際して、次の行為を行うことを禁止します。<strong></strong>
</p>
<p align="left">
    ［1］法令上又は本規約若しくはガイドライン上特に認められている場合を除き、Halcalaの提供する情報を当団体の事前の同意なく、複写、若しくはその他の方法により再生、複製、送付、譲渡、頒布、配布、転売、又はこれらの目的で使用するために保管すること
</p>
<p align="left">
    ［2］本規約又はガイドラインに違反すること
</p>
<p align="left">
    ［3］公序良俗に反すること
</p>
<p align="left">
    ［4］違法行為・犯罪的行為・重大な危険行為に結びつくこと又はこれらを助長すること
</p>
<p align="left">
    ［5］当団体、他の新入生諸君又は第三者の知的財産権（著作権、意匠権、実用新案権、商標権、特許権、ノウハウが含まれますがこれに限定されません）を侵害すること
</p>
<p align="left">
    ［6］他の新入生諸君又は第三者の権利又は利益を違法に侵害し、又はそのおそれがあること
</p>
<p align="left">
    ［7］Halcalaの運営を妨げること、又は当団体の信用を毀損すること
</p>
<p align="left">
    ［8］Halcala会員登録時に虚偽の申告をすること
</p>
<p align="left">
    ［9］同一人物が複数のHalcala会員登録を行うこと
</p>
<p align="left">
    ［10］ID及びパスワードの不正使用又は他の新入生諸君又は第三者に使用させること
</p>
<p align="left">
    ［11］その他、当団体が不適切と判断すること
</p>
<p align="left">
    （2）新入生諸君により前項各号に該当する行為又はHalcalaの趣旨・目的に照らして不適切であると当団体が判断する行為がなされた場合、当団体は当該新入生諸君に対して、Halcalaの利用の停止その他当団体が適切と判断する措置（以下「利用停止措置」といいます。）をとることができるものとします｡なお、利用停止措置は新入生諸君の帰責性の有無にかかわらず当団体の裁量・判断に基づき行うことができるものとし、利用停止措置を行った理由については､その如何を問わず新入生諸君に対して一切お答えいたしかねます｡加えて、利用停止措置に起因して新入生諸君に生じた損害については､当団体は一切の責任を負わないものとします｡
</p>
<p align="left">
    <strong>5. </strong>
    <strong>退会手続</strong>
    <strong></strong>
</p>
<p align="left">
    （1）Halcala会員が退会を希望する場合は、当団体の所定の退会手続を行うものとします。
</p>
<p align="left">
    （2）Halcala会員は、退会手続を行った場合、当団体でご利用いただいていたHalcala会員のアカウントに関する一切の権利、特典を失うものとします。
</p>
<p align="left">
    （3）Halcala会員が退会手続を完了した場合、又は、当団体とHalcala会員との間の本規約に基づく契約が終了した場合であっても、4．ログインアカウント等の登録・管理、5．プライバシーについて、6．Halcalaの利用について（1）・（2）・（4）・（5）[3]、7．免責事項、8．
    著作権、財産権その他の権利、9．禁止行為、12．準拠法及び裁判管轄はなお有効とします。
</p>
<p align="left">
    <strong>6. </strong>
    <strong>本規約の変更</strong>
    <strong></strong>
</p>
<p align="left">
    当社は、本規約の内容を変更することができるものとします｡その場合、食べログ上での告知その他当社が適当と認める方法により告知するものとします。告知した場合、当該変更の効力が生じ、お客様が当該変更を承諾したものとします。
</p>
<p align="left">
    <strong>7. </strong>
    <strong>準拠法及び裁判管轄</strong>
</p>
<p align="left">
    本規約は、日本法に基づき解釈されるものとし、本規約に関して訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
</p>
<p align="left">
    <strong>8. </strong>
    <strong>お問い合わせ</strong>
</p>
<p align="left">
    ご不明な点がございましたら、以下のフォームよりお問い合わせください。
</p>
<p align="left">
    <a href="https://ssl.tabelog.com/support/inquiry?type=1">≫お問い合わせフォーム</a>
</p>
