<div class="row">
  <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h2>利用規約</h2>
    <div class="policy">
      <%= render :partial => "policy" %>
    </div>
    <%= link_to "閉じる", root_path, class: "btn btn-default" %>
  </div>
</div>
