<div class="row">
  <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h2>利用規約</h2>
    <div class="policy">
    <%= link_to "CLOSE", root_path, class: "Button Button__policy" %>
      <%= render :partial => "policy" %>
    </div>
  </div>
</div>
